
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OzlukAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="selectlist"></div>

@*<select data-target="evrakliste" id="personel"> </select><img class="hidden" id="loading" src="~/Content/Loading_icon.gif" /> <span id="sayi"></span>*@
<div id="evrakliste"></div>


@section scripts{
<script src="~/Scripts/ozlukadmin.js"></script>
    <script type="text/javascript">
        
        function sonuc(result) {
            $('#evrakliste').html(result);
        }

        $(function() {
            $('#selectlist').MakeSelectList({
                loadimgurl: '@Url.Content("~/Content/Loading_icon.gif")',
                listurl: '@Url.Action("_SelectList", "Personel", new {Area = ""})',
                targetdiv: 'evrakliste',
                callafterchange: '@Url.Action("EvraklariHazirla")',
                change: function(result) {
                    sonuc(result);
                }
            });
        });

    </script>
}