<form id="loginForm" method="post" class="form-horizontal" style="display: none;">
    <div class="form-group">
        <label class="col-sm-3 control-label">Giriş Saati</label>
        <div class="col-sm-5">
            <input type="time" class="form-control" name="giris" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Çıkış Saati</label>
        <div class="col-sm-5">
            <input type="time" class="form-control" name="cikis" />
        </div>
    </div>

    
</form>
