
@{
    ViewBag.Title = "ListeOlustur";
}

<h2>ListeOlustur</h2>

<div class="row">
    <div class="col-md-6">
        <select id="yil">
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
        </select>
    </div>
    <div class="col-md-6">
        <select id="ay">
            <option value="1">Ocak</option>
            <option value="2">Şubat</option>
            <option value="3">Mart</option>
            <option value="4">Nisan</option>
            <option value="5">Mayıs</option>
            <option value="6">Haziran</option>
            <option value="7">Temmuz</option>
            <option value="8">Ağustos</option>
            <option value="9">Eylül</option>
            <option value="10">Ekim</option>
            <option value="11">Kasım</option>
            <option value="12">Aralık</option>
        </select>
    </div>
    <div id="yapilacakislemler"></div>
    <div id="islemler">
        <input id="isyukle" class="btn btn-primary" type="button" value="Yükle"/>
        <div id="listeolustur">

        </div>
    </div>
</div>


@section scripts{<link href="~/Content/themes/base/all.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script src="~/Scripts/DialogForm.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script type="text/javascript">
        $(function() {
            var date = new Date();

            var ay = $('#ay');
            ay.val(date.getMonth() + 1);

            var isyukle = $('#isyukle');
            isyukle.on('click', function() {
                //loading göster
                var src = '@Url.Content("~/Content/Loading_icon.gif")';

                $('#listeolustur').html('<img id="loading" src="' + src + '" />');
                var yil = $('#yil').val();
                var ay = $('#ay').val();
                $('#listeolustur').load('@Url.Action("_ListeOlustur")', { ay: ay, yil: yil }, function () {
                    console.log("yüklendi");
                });
            });
        })
    </script>
}
