@model ik.Areas.Admin.Data.PersonelMikroBilgi

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ID)
                @Html.DisplayFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>       
    </div>
