
@{
    ViewBag.Title = "MaasDeneme";
}
<div id="content">
    <h2>MaasDeneme</h2>

    @using (Ajax.BeginForm("_MaasHesapla", new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }))
    {

        <div class="form-group row">
            <label for="brutucret" class="col-sm-2 col-form-label">Brüt Ücret</label>
            <div class="col-sm-10">
                <input type="number" name="brutucret" class="form-control" value="6050.14" id="brutucret" placeholder="Brüt Ücret">
            </div><input id="ucretekle" type="button" value="Ekle"/>
        </div>

        <div class="form-group row">
            <ul id="ucretler" class="list-group"></ul>
        </div> 

        <div class="form-group row">
            <label for="devkumgvm" class="col-sm-2 col-form-label">Kümülatif Gelir Vergisi Matrahı</label>
            <div class="col-sm-10">
                <input type="number" value="20527.70" class="form-control" name="devkumgvm" id="devkumgvm" placeholder="Kümülatif Gelir Vergisi Matrahı">
            </div>
        </div>
        <div class="form-group row">
            <label for="agi" class="col-sm-2 col-form-label">A.G.İ</label>
            <div class="col-sm-10">
                <input type="number" value="264.87" name="agi" class="form-control" id="agi" placeholder="A.G.İ.">
            </div>
        </div>

        <div class="form-group row">

            <div class="col-sm-2">
                <div class="form-check">
                    <input class="form-check-input" name="istisna" type="checkbox" id="istisna">
                    <label class="form-check-label" for="istisna">
                        Yemek İstisna
                    </label>
                </div>
            </div>
            <div class="col-sm-10">
                <input type="number" class="form-control" value="129" name="istisnatutar" id="istisnatutar" placeholder="İstisna Tutarı">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button id="hesap" type="submit" class="btn btn-primary">Hesapla</button>
            </div>
        </div>

    }
</div>
<div id="target"></div>


<script src="~/Scripts/jquery.min.js"></script><script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(function () {
        var list = $('#ucretler');
        $('#ucretekle').on('click', function () {
            list.append('<li class="list-group-item d-flex justify-content-between align-items-center">'+$('#brutucret').val()+'</li>');
        });
    });
</script>