
@section scripts{
    <link href="~/Content/themes/base/all.css" rel="stylesheet"/>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#okuleklebtn').on('click', function () {
                var target = $('#okuleklebtn').attr('target');

                BootstrapDialog.show({
                    title: 'Okul Ekle',
                    message: 'Okul Adı Giriniz: <input id="okulad" type="text" class="form-control">',
                    buttons: [
                        {
                            label: 'İptal',
                            action: function (dialogRef) {
                                dialogRef.close();
                            }
                        },
                        {
                            label: 'Kaydet',
                            action: function (dialogRef) {
                                $.ajax({
                                    url: target,
                                    type: 'POST',
                                    data: {
                                        ad: $('#okulad').val()
                                    },
                                    success: function (result) {
                                        if (result.Success === false) return;
                                        var okullar = $('#okulid');
                                        okullar.empty();
                                        $.each(result.Data, function (i, item) {
                                            okullar.append('<option Value="' + item.Value + '" >' + item.Text + '</option>');
                                        });
                                        dialogRef.close();
                                    }
                                });
                            }
                        }
                    ]
                });
            });

            $('#bolumeklebtn').on('click', function() {
                var okul = $('#okulid').val();
                if (okul < 1) return;
                var target = $('#bolumeklebtn').attr('target');
              
                BootstrapDialog.show({
                    title: 'Bölüm Ekle',
                    message: 'Bölüm Adı Giriniz: <input id="ad" type="text" class="form-control">',
                    buttons: [
                        {
                            label: 'İptal',
                            action: function(dialogRef) {
                                dialogRef.close();
                            }
                        },
                        {
                            label: 'Kaydet',
                            action: function (dialogRef) {
                                $.ajax({
                                    url: target,
                                    type: 'POST',
                                    data: {
                                       okul: okul,
                                       ad:$('#ad').val()
                                    },
                                    success:function(result) {
                                        if (result.Success === false) return;
                                        var bolumler = $('#bolumid');
                                        bolumler.empty();
                                        $.each(result.Data, function(i, item) {
                                            bolumler.append('<option Value="'+item.Value+'" >'+item.Text+'</option>');
                                        });
                                        dialogRef.close();
                                    }
                                });
                          
                            }
                        }
                    ]
                });


            });

            $('#okulid').change(function() {

                var okul = $(this);
                var okulid = okul.val();
                $.ajax({
                    url: '@Url.Action("_OkulBolumleri")',
                    type: 'POST',
                    data: { okulid },
                    success: function(result) {
                        console.log(result);
                        if (result.Success === true) {
                            var bolum = $('#bolumid');
                            bolum.empty();
                            $.each(result.Data, function(i, item) {
                                bolum.append('<option value="' + item.Value + '">' + item.Text + '</option>');
                            });

                        }
                    }
                });
            });
        })
    </script>
}