
<div id="haftalikrapor"></div>

<script src="~/Scripts/ikTabList.js"></script>
<script type="text/javascript">
    $(function() {
        @*$('#haftalikrapor').TabList({
            loadgif:'<img src="@Url.Content("~/Content/giphy.gif")" />',
            tabs:[
                {
                    cssClass:'fa fa-home',
                    title:' Haftalık Geç Kalma Durumu',
                    contenturl:'@Url.Action("_HaftalikGecKalanlar")'
                }
            ]
        });*@
    });
</script>
