
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .nav-tabs {
        margin: 0;
        padding: 0;
        border: 0;
    }

        .nav-tabs > li > a {
            background: #DADADA;
            border-radius: 0;
            box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
        }

        .nav-tabs > li.active > a,
        .nav-tabs > li.active > a:hover {
            background: #F5F5F5;
            box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
        }

    /* Tab Content */
    .tab-pane {
        background: #F5F5F5;
        box-shadow: 0 0 4px rgba(0,0,0,.4);
        border-radius: 0;
        text-align: center;
        padding: 10px;
    }
</style>


<div id="test"></div>


@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap-dialog.js"></script>
    <script src="~/Scripts/uploads.js"></script>
    <script src="~/Scripts/ozlukadmin.js"></script>
    <script src="~/Scripts/ikTabList.js"></script>
    @Scripts.Render("~/bundles/ikdialog")
    <script type="text/javascript">

        $(function () {
            $('#test').TabList({
                loadgif:'<img src="@Url.Content("~/Content/giphy.gif")" />',
                tabs:[
                    {
                        cssClass:'fa fa-home',
                        title:' Günlük Rapor',
                        backgroundcolor:'#dff0d8',
                        contenturl: '@Url.Action("_GunlukRapor")'

                    },
                    {
                        contenturl: '@Url.Action("_HaftalikRapor")',
                        cssClass:'fa fa-user',
                        title: 'Haftalık Rapor',
                        backgroundcolor:'#8a6d3b'
                    }
                ]
            });




        });
    </script>

}



