



@*<div class="checkbox">
        <label>
            <input type="checkbox" data-value="" checked="" class="js-switch" />
            SGK Kesinti
        </label>
    </div>
    <div class="checkbox ">
        <label>
            <input type="checkbox" data-value="" checked="" class="js-switch" />
            Gelir Vergisi
        </label>
    </div>
    <div class="checkbox ">
        <label>
            <input type="checkbox" data-value="" checked="" class="js-switch" />
            Damga Vergisi
        </label>
    </div>

    <div class="checkbox ">
        <label>
            <input type="checkbox" data-value="" checked="" class="js-switch" />
            Yemek İstisnası
        </label>
    </div>

    <div class="checkbox ">
        <label>
            <input type="checkbox" data-value="" checked="" class="js-switch" />
            İşsizlik Kesintisi
        </label>
    </div>*@

@*<script src="~/Scripts/switchery.min.js"></script>
<link href="~/Content/switchery.min.css" rel="stylesheet" />*@
<script type="text/javascript">
    //function initcheckbox(classname) {
    //    var elems = Array.prototype.slice.call(document.querySelectorAll(classname));

    //    elems.forEach(function (html) {
    //        var switchery = new Switchery(html);
    //    });
    //}

    $(function () {
        //initcheckbox('.js-switch');




    });
</script>





