
@{
    ViewBag.Title = "PersonelSayi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input-group-addon, .input-group-btn {
    width: 15%;
   
}
</style>
<h2>PersonelSayi</h2>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">

        $(function() {
            $('#datetimepicker2').datetimepicker({
                viewMode: 'months',
                format: 'YYYY-MM',
                locale: 'tr'
            }).on('dp.change', function(event) {
                $.ajax({
                    url: '@Url.Action("_PersonelSayi")',
                    type:'GET',
                    data: { tarih: $('#datetimepicker2').find('input').val() },
                    success:function(result) {
                        console.table(result);

                    }
                });

            });
        });
    </script>
}