@model IEnumerable<ik.Models.Ptakipgunluk>

@{
    ViewBag.Title = "GunlukPTakip";
}

<h2>GunlukPTakip</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giris)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giris)
        </td>
        <td>
        </td>
    </tr>
}

</table>
