
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<style>
    .editor-datetime {
        position: relative;
    }
</style>


@using (Ajax.BeginForm("GunlukTakip", new AjaxOptions
{
    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "gunlukliste"
}))
{
    <div class="editor-datetime">
        @Html.TextBox("date", "", new { @class = "datetime" })
    </div>

    <input type="submit" value="Ara" />
}
<div id="gunlukliste"></div>





@section scripts{
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datetime').datetimepicker({
                locale: 'tr',
                format:'L'
            });
        })
    </script>
}