
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<div id="selectlist"></div>
<div id="evrakliste"></div>


@section scripts{
<script src="~/Scripts/Admin.js"></script>
    <script type="text/javascript">
        
        function sonuc(result) {
            $('#evrakliste').html(result);
        }

        $(function() {
            $('#selectlist').MakeSelectList({
                loadimgurl: '@Url.Content("~/Content/Loading_icon.gif")',
                listurl: '@Url.Action("_SelectList", "Personel", new {Area = ""})',
                targetdiv: 'evrakliste',
                callafterchange: '@Url.Action("EvraklariHazirla")',
                change: function(result) {
                    sonuc(result);
                }
            });
        });

    </script>
}