@using ik.Models
@model IEnumerable<ik.Models.ImzaTakip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Takip Ekle", "Create", null, new { @class = "btn btn-primary" }).If(User.Identity.Name == @"KENTKONUT\noskay")
</p>
<br />
<table class="table">
    <thead>
    <tr>
        <th>Takip Edilen Konu</th>
        <th>Takip Edilen Kişi Adedi</th>
        <th>İmzalanan</th>
        <th>İmzalanmayan</th>
    </tr>
    </thead>
    <tbody id="takipedilenler">
    
    </tbody>

</table>
@section scripts{

    <script type="text/javascript">
        
        $(function () {
            function takipedilenliste(data) {
                var tablo = $('#takipedilenler');
                tablo.empty();

                for (var i = 0; i < data.length; i++) {
                    var kalan = data[i].Toplam - data[i].Imzalanan;
                    tablo.append('<tr>');
                    tablo.append("<td>" + data[i].Aciklama + "</td>");
                    tablo.append("<td>" + data[i].Toplam + "</td>");
                    tablo.append("<td>" + data[i].Imzalanan + "</td>");
                    tablo.append("<td>" + kalan + "</td>");
                    tablo.append('</tr>');
                }
            }


            $.ajax({
                url: '@Url.Action("TakipEdilenler")',
                data: {
                },
                method: 'get',
                success: takipedilenliste
            });

            
        });
    </script>
}