
@{
    ViewBag.Title = "CalisanSayi";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h2>CalisanSayi</h2>



<div class="form-group">
    @Html.Label("tarih", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.Editor("tarih", new { htmlAttributes = new { @type = "date",  @class = "form-control col-md-4 datepicker" } })  <input id="sorgula" type="button" value="Sorgula" />
    </div>
</div>
<div>
    <h1><span id="result"></span></h1>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#sorgula').on('click', function () {
                var tarih = $('#tarih').val();
                $.ajax({
                    url: '@Url.Action("_CalisanSayi")',
                    type: 'GET',
                    data: {tarih:tarih},
                    success: function (result) {
                        $('#result').html(result.Data);
                    }
                });
            });
        });
    </script>
}