.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
    margin: 5px;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.img-wrap:hover .close {
    opacity: 1;
}

.dosyaliste {
    display: flex;
}

.dosya {
    padding-right: 10px;
}

.dosya:hover {
    border-style: solid;
    border-color: black;
}

.dosya > a.dosyasil > img:hover {
    opacity: 1;
}

.dosya > a.thumba > img {
    width: 80px;
    float: right;
}

.dosya > a.dosyasil > img {
    height: 20px;
    position: absolute;
    opacity: 0.6;
    transition: 0.3s;
}
