
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OzlukAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Enum Tanımla", "Index", "Enum")
</br>

@Html.ActionLink("İşer Giriş Evrakları","Index","IseGirisGerekEvrakTip")