
@model IEnumerable<ik.Models.Ozluk_AileFertleri>

@Html.Hidden("tcno",(string)ViewBag.tc)

<div id="fertekle"></div>

<div id="fertListe">
    @Html.Partial("FertListe", Model)
</div>




<script type="text/javascript">
    $(function () {

        var id = $('#personel option:selected').val();
        var url = '@Url.Action("Ekle",new {Area="Admin"})' + '/?pid=' + id;

        var updateurl = '@Url.Action("FertListe",new {Area="Admin"})' + '/?pid=' + id;

        $('#fertekle').ikDialog({
            formurl: url,
            Title: "Fert Ekle",
            data: {
            }, complete: function (result) {
                console.log(result);
                $('#fertListe').load(updateurl);
            }
        });



    })
</script>