@model IEnumerable<ik.Models.Ozluk_AileFertleri>

@Html.Hidden("tcno",(string)ViewBag.tc)

<div id="fertekle"></div>

<div id="fertListe">
    @Html.Partial("FertListe", Model)
</div>

<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/DialogForm.js"></script>
<script src="~/Scripts/ikdialog.js"></script>

<script type="text/javascript">
    $(function () {

        var id = $('#personel option:selected').val();
        var url = '@Url.Action("Ekle",new {Area="Admin"})' + '/?pid=' + id;
        var updateurl = '@Url.Action("FertListe",new {Area="Admin"})' + '/?pid=' + id;

        $('#fertekle').ikDialog({
            formurl: url,
            Title: "Fert Ekle",
            data: {
            }, complete: function (result) {
                console.log(result);
                $('#fertListe').load(updateurl);
            }
        });



    })
</script>