@using ik.Models
@model IEnumerable<Takip>

@{
    ViewBag.Title = "Index";
    var cls = "";
}


<div id="rutinekle"></div>


<div id="pagedTakip">
    @Html.Partial("_PagedIndex")
</div>

@section scripts{
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/DialogForm.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#rutinekle').MakeDialogForm({
                id: 'btnyarimekle',
                text: 'Görev Ekle',
                url: '@Url.Action("Create","Takip")',
                title: 'Görev Ekle',
                updateurl: '@Url.Action("Index","Takip")',
                bclass: 'btn btn-info',
                targetid: 'Info',
                width: "500",
                height: "350",
                complete: function () {
                    $.notify({
                        title: 'Kayıt Durumu',
                        message: 'Kaydedildi'
                    }, { type: 'success' });
                }
            });
        });
    </script>
}