@model ik.Areas.KVKK.Models.KVKK_TeknikTedbir

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/KVKK/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KVKK_TeknikTedbir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tedbir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tedbir)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
