@model IEnumerable<ik.Models.Ozluk_AileFertleri>

@Html.Hidden("tcno",(string)ViewBag.tc)

<div id="fertekle"></div>

<div id="fertListe">
    @Html.Partial("FertListe", Model)
</div>

<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/DialogForm.js"></script>
<script type="text/javascript">
    $(function () {

        var id = $('#personel option:selected').val();

        $('#fertekle').MakeDialogForm({
            id: 'btnfertEkle',
            text: 'Yeni Aile Ferdi Ekle',
            url: '@Url.Action("Ekle",new {Area="OzlukAdmin"})' + '/?pid=' + id,
            title: 'Fert Ekle',
            updateurl: '@Url.Action("FertListe",new {Area="OzlukAdmin"})'+'/?pid='+id,
            bclass: 'btn btn-info',
            targetid: 'fertListe',
            width: "500",
            height: "500",
            complete: function (data) {
            }
        });

    })
</script>