
@{
    ViewBag.Title = "YillikIzinDefter";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
<style>
    .izintablosu{
        margin-top: 25px;
        }
</style>
<h2>YillikIzinDefter</h2>
<div >
    @Html.Partial("PersonelSec","personel")
</div>
<div class="clearfix "></div>
<div class="izintablosu">
    <table class="table table-bordered table-responsive" style="text-align: center; font-weight: bold; font-size: x-large;}">
        <tr><td>YILLIK ÜCRETLİ İZİN KAYDI</td></tr>
    </table>

    <table class="table table-bordered table-responsive">
        <tr>
            <th colspan="5">Adı Soyadı : NECDET OSKAY</th>
            <th colspan="3">Sicil No: 1357</th>

            <th colspan="7">İşe Giriş Tarihi: 01.02.2013</th>


        </tr>
        <tr>
            <th rowspan="2">Yılı</th>
            <th rowspan="2">Bir Yıl Önceki İzin Hakkını Kazandığı Tarih</th>
            <th colspan="6">Bir Yıllık Çalışma Süresi İçinde Çalışmayan gün Sayısı ve Nedeni</th>

            <th rowspan="2">İzne Hak Kazandığı Tarih</th>
            <th rowspan="2">İşyerindeki Kıdemi</th>
            <th rowspan="2">İzin Süresi</th>
            <th rowspan="2">Yol İzni</th>
            <th rowspan="2">İzne Başlangıç Tarihi</th>
            <th rowspan="2">izin Dönüş Tarihi</th>
            <th rowspan="2"> İşçinin İmzası</th>
        </tr>
        <tr>
            <th>Hastalık </th>
            <th>Askerlik</th>
            <th>Zorunluluk Hali</th>
            <th>Devamsızlık</th>
            <th>Hizmete Ara Verme</th>
            <th>Diğer Nedenler</th>


        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        function personelChange(result) {
            //console.table(result); 
        }
        
        $(function() {
           

        });
    </script>
}