@model WSY.Models.Aidat
@{
    ViewBag.Title = "Anasayfa";
}

<div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">Aidat Borcu:</div>@Model.aidatAna
</div>
<div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">Gecikme Faiz Borcu:</div>@Model.aidatFaiz
</div>

<div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-8">Toplam :</div>@Model.aidatToplam
</div>
