@using ik.Models
@model IEnumerable<ImzaTakip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Takip Ekle", "Create", null, new {@class = "btn btn-primary"}).If(User.Identity.Name == @"KENTKONUT\noskay")
</p>
<br/>
<table class="table">
    <thead>
    <tr>
        <th>Takip Edilen Konu</th>
        <th>Takip Edilen Kişi Adedi</th>
        <th>İmzalanan</th>
        <th>İmzalanmayan</th>
    </tr>
    </thead>
    <tbody id="takipedilenler">

    </tbody>

</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <img id="loading" src="~/Content/Loading_icon.gif" />
                <ol id="aciklama"></ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
              
            </div>
        </div>
    </div>
</div>



@section scripts{
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $('#myModal').on('shown.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var recipient = button.closest('tr').find('td:eq(0)').text();
                var modal = $(this);
                var body = modal.find('.modal-body #aciklama');
                body.empty();
                $('#loading').show();
                modal.find('.modal-title').text("İmzalamayan Personel Listesi");
                $.ajax({
                    url:'@Url.Action("_ImzalanmayanDurum")',
                    data: {
                        'aciklama': recipient
                    },
                    method:'get',
                    success: function (result) {
                        jQuery.each(result, function (index, item) {
                            body.append('<li>' + item.adsoyad);
                        });
                        $('#loading').hide();
                    }
                });


                
               
            });

            function takipedilenliste(data) {
                var tablo = $('#takipedilenler');
                tablo.empty();

                for (var i = 0; i < data.length; i++) {
                    var kalan = data[i].Toplam - data[i].Imzalanan;
                    tablo.append("<tr><td>" + data[i].Aciklama + "</td><td>" + data[i].Toplam + "</td><td>" + data[i].Imzalanan + "</td><td><a class='imzatakip' data-toggle='modal' data-target='#myModal' href='#'>"+kalan+"</a></td></tr>");
                }
                $('.imzatakip').each(function() {
                    var row = $(this);
                    row.on('click', function () {

                        @*var aciklama = row.closest('tr').find('td:eq(0)').text();
                        $.ajax({
                            url:'@Url.Action("_ImzalanmayanDurum")',
                            data: {
                                'aciklama':aciklama
                            },
                            method:'get',
                            success:function(result) {
                                console.log(result);
                            }
                        });*@
                    });
                   
                });
            }

           

            $.ajax({
                url: '@Url.Action("TakipEdilenler")',
                data: {
                },
                method: 'get',
                success: takipedilenliste
               
            });


        });
    </script>
}