@{
    ViewBag.Title = "PersonelImza";
}
<style type="text/css">
    .ui-menu .ui-menu-item a.sbiAnchor.ui-state-hover { background: blue; }

    .ui-autocomplete {
        -moz-background-clip: padding;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        background-color: #ffffff;
        *border-bottom-width: 2px;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        *border-right-width: 2px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        display: none;
        float: left;
        left: 0;
        list-style: none;
        margin: 0 0 10px 25px;
        min-width: 160px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        z-index: 1000;
    }
</style>
<h2>PersonelImza</h2>

<div class="form-group">
    @Html.Label("Personel Ad", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        <input type="text" id="personel" name="personel"/>
        @*@Html.DropDownList("PersonelListe", (SelectList) ViewBag.personelListe, "Personel Seçiniz..", new {htmlAttributes = new {@class = "form-control datetime"}})*@

    </div>
</div>


<div class="form-group">
    <table class="table">
        <thead>
        <tr>
            <th>Sıra</th>
            <th>Açıklama</th>
            <th></th>
            @*<th>Hakedilen</th>
                    <th>Kullanılan</th>
                    <th>Kalan</th>*@
        </tr>
        </thead>
        <tbody id="personeltakipListe"></tbody>
    </table>
    <div class="jumbotron">
        <p id="toplamkalan"></p>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function() {
            function personelListe(data) {
                var imzalar = $('#personeltakipListe');
                var sira = 1;
                imzalar.empty();
                for (var i = 0; i < data.length; i++) {
                    var imza = data[i];
                    imzalar.attr('personelID', imza.personelid);


                    imzalar.append('<tr>' +
                        '<td>' + sira + '</td>' +
                        '<td>' + imza.aciklama + '</td>' +
                        '<td><a data-imzaID=' + imza.imzaID + ' class="takipbtn btn btn-primary" href="javascript:void(0)">Tamamla</a></td>' +
                        '</tr>');
                    sira++;
                }
                $('.takipbtn').each(function() {
                    var btn = $(this);
                    btn.on('click', function() {
                        var imzaid = btn.attr("data-imzaID");
                        var personelid = $('#personeltakipListe').attr("personelID");
                        console.log(imzaid);
                        console.log(personelid);
                        $.ajax({
                            url: '@Url.Action("ImzaTamamla", "ImzaTakip")',
                            minLength: 3,
                            dataType: "json",
                            type: "post",
                            data: {
                                'imzaid': imzaid,
                                'personelid': personelid
                            },
                            success: function(data) {
                                personelListe(data);
                            },
                            error: function(xhr, textStatus, errorThrown) {
                                alert("error: " + errorThrown);
                            }
                        });

                    });
                });
            };


            $("#personel").autocomplete({
                source: function(request, response) {
                    $.ajax({
                        url: '@Url.Action("AutoComplete", "PTakip")',
                        minLength: 3,
                        dataType: "json",
                        type: "post",
                        data: { term: request.term },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return item;
                            }));
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert("error: " + errorThrown);
                        }
                    });
                },
                minLeght: 3,
                select: function(event, ui) {
                    // alert(ui.item.val);
                    $.ajax({
                        url: '@Url.Action("PersonelImzaListe")',
                        data: { personelid: ui.item.val },
                        type: 'GET',
                        success: function (data) {
                            $(document).attr("title", data.SicilNo);

                            personelListe(data.Data);
                        }
                    });
                }
            });
        });
    </script>
}